[submodule "bizpanda"]
	path = bizpanda
	url = ssh://git@bitbucket.org/webcraftic/wp-bizpanda
[submodule "panda-items/email-locker"]
	path = panda-items/email-locker
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-module-emaillocker
[submodule "panda-items/signin-locker"]
	path = panda-items/signin-locker
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-module-signinlocker
